body{
    font-family: 'Goudy Bookletter 1911', serif;
    background-image: url(https://cdn3.vectorstock.com/i/1000x1000/86/47/bookshelf-with-books-seamless-background-vector-5628647.jpg);
}

.cursive{
    font-family: 'Cedarville Cursive', cursive;
}

.center{
    text-align:center;
}

.jumbotron{
    padding:5px;
    padding-bottom:15px;
    margin: 30px;
}
